* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: linear-gradient(#384B9D, #8F0B94);
}

header {
    border-radius: 50px;
}

#darkModeToggler {
    font-size: 22px;
}

.navbar-nav {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 20px;
}

.navbar-nav li{
    border-right: 1px solid rgb(202, 202, 202);
}

.navbar-nav li:nth-child(1) a{
    padding-right: 10px !important;
}

section {
    border-radius: 50px;
}

#body {
    height: 374px;
    margin-bottom: 6px;
}

#img-toggler{
    width: 100%;
    border-top: 3px solid rgb(180, 180, 180);
    position: absolute;
    height: 0px;
    background-color: white;
    transition: 0.3s ease-out;
}

#img-toggler.deployed{
    transition: 0.3s ease-out;
    height: 380px;
}

#btn-male, #btn-female {
    font-size: 40px;
}

#btn-male.active {
    pointer-events: none;
    color: #384B9D !important;
}

#btn-female.active {
    pointer-events: none;
    color: #8F0B94 !important;
}

#btn-male:not(.active):hover {
    color: #384B9D !important;
    animation: rotate-btn 1s ease-in-out infinite;
}

#btn-female:not(.active):hover {
    color: #8F0B94 !important;
    animation: rotate-btn 1s ease-in-out infinite;
}

@keyframes rotate-btn {
    
    0% {
        transform: rotate(10deg);
    }
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(10deg);
    }
}

#range-form {
    width: 70%;
}

#btn-calc {
    font-size: 22px;
    font-weight: 600;
    background-image: linear-gradient(to right, #384B9D, #8F0B94);
}

.form-label {
    font-family: Fira Mono, monospace;
    font-size: 15px;
}

#weight-indicator {
    background-color: #0D6EFD;
    color: white;
    height: 1.5em;
    width: 4em;
    border-radius: 15px;
    visibility: visible;
    position: absolute;
    left: -4%;
    top: 60px;
}

#inputs-div {
    width: 590px;
}
