//Variables
$main-blue: #384B9D;
$main-purple: #8F0B94;

//Default overwriting

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$grid-breakpoints: (
  xss: 0,
  xs: 430px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$font-family-base: 'Source Sans Pro', sans-serif;

$navbar-light-active-color: white;
$navbar-dark-disabled-color: $gray-600;

$navbar-brand-font-size: 1.8rem;
$navbar-brand-margin-end: 0.2rem;

$input-line-height: 1;

$form-range-thumb-active-bg: $main-purple;

//Utilities
$utilities: () !default;
$utilities: map-merge((
    "width": (
      property: width,
      class: w,
      values: (
        0: 0px,
        25: 25%,
        50: 50%,
        70: 70%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    )
), $utilities);

@import "../node_modules/bootstrap/scss/bootstrap";

@mixin gradient ($direction: to bottom) {
    background-image: linear-gradient($direction, $main-blue, $main-purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@mixin gender-btn ($color) {
    font-size: 40px;
    &.active{
        color: $color !important;
        pointer-events: none;
        svg {
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.541));
        }
    }
    &:not(.active){
        &.dark-mode{
            color: var(--bs-gray-700) !important;
        }
        &:hover{
            color: $color !important;
            animation: rotate-btn 1s ease-in-out infinite;
            svg {
                filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.541));
            }
        }
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include gradient();
}

nav {
    border-radius: 35px;

    @include media-breakpoint-down(xs) {
        h2 {
            font-size: 22px !important;
        }
        #darkModeToggler {
            font-size: 20px;
        }
    }
}

#darkModeToggler {
    font-size: 25px;
}

.nav-link.active {
    @include gradient(to right);
}

#body {
    height: 348px;
}

#img-toggler{
    z-index: 2;
    border-top: {
        color: var(--bs-gray-400);
    }
    height: 0px;
    transition: 0.3s ease-out;

    &.deployed {
        transition: 0.3s ease-out;
        height: 358px;
    }
}

#btn-male {
    @include gender-btn($main-blue);
}

#btn-female {
    @include gender-btn($main-purple)   
}

@keyframes rotate-btn {
    
    0% {
        transform: rotate(10deg);
    }
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(10deg);
    }
}

#btn-calc {
    font-size: 22px;
    font-weight: 600;
    @include gradient(to right)
}

.form-label {
    font-family: Fira Mono, monospace;
    font-size: 15px;
}

#weight-indicator {
    background-color: $main-blue;
    height: 1.5em;
    width: 4em;
    left: -4%;
    top: 60px;
}

footer {
    a {
        font-size: 28px;
        color: white;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.calc-title.dark-mode{
    h1 {
        color: white !important;
    }
    hr {
        border-top-color: #f1f1f1;
    }
    p {
        color: var(--bs-gray-600) !important;
    }
}
