//Variables
$main-blue: #384B9D;
$main-purple: #8F0B94;

//Default overwriting

$grid-breakpoints: (
  xss: 0,
  xs: 380px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$font-family-base: 'Source Sans Pro', sans-serif;

$navbar-light-active-color: white;

//Utilities
$utilities: () !default;
$utilities: map-merge((
    "width": (
      property: width,
      class: w,
      values: (
        0: 0px,
        25: 25%,
        50: 50%,
        70: 70%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    )
), $utilities);

@import "../node_modules/bootstrap/scss/bootstrap";

@mixin gradient ($direction: to bottom) {
    background-image: linear-gradient($direction, $main-blue, $main-purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@mixin gender-btn ($color) {
    font-size: 40px;
    &.active{
        color: $color !important;
        pointer-events: none;
    }
    &:not(.active):hover{
        color: $color !important;
        animation: rotate-btn 1s ease-in-out infinite;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include gradient();
}

header {
    border-radius: 35px;

    @include media-breakpoint-down(xs) {
        h2 {
            font-size: 22px;
        }
        #darkModeToggler {
            font-size: 20px;
        }
    }
}

#darkModeToggler {
    font-size: 22px;
}

.nav-link.active {
    @include gradient(to right);
}

#body {
    height: 374px;
}

#img-toggler{
    border-top: {
        color: var(--bs-gray-400);
    }
    height: 0px;
    transition: 0.3s ease-out;

    &.deployed {
        transition: 0.3s ease-out;
        height: 385px;
    }
}

#btn-male {
    @include gender-btn($main-blue)   
}

#btn-female {
    @include gender-btn($main-purple)   
}

@keyframes rotate-btn {
    
    0% {
        transform: rotate(10deg);
    }
    
    50% {
        transform: rotate(-10deg);
    }
    
    100% {
        transform: rotate(10deg);
    }
}

#btn-calc {
    font-size: 22px;
    font-weight: 600;
    @include gradient(to right)
}

.form-label {
    font-family: Fira Mono, monospace;
    font-size: 15px;
}

#weight-indicator {
    background-color: $main-blue;
    height: 1.5em;
    width: 4em;
    left: -4%;
    top: 60px;
}
